* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e9e9e9;
}

.todo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5em auto;
  width: 80em;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.808);
}

.todo__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  height: 20em;
  background-color: #59f2fc;
  background-image: radial-gradient(circle, #59f2fc 0%, #55afb5 100%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.todo__header h1 {
  margin: 0.5em;
  font-size: 3.6rem;
  color: black;
}

.todo__header input {
  padding: 0.5em 1em;
  width: 50%;
  border: none;
  background-color: white;
  border-radius: 8px;
}

.todo__addbtn {
  padding: 0.5em 1em;
  margin-left: 0.5em;
  width: 5em;
  border: none;
  text-transform: uppercase;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}

.todo__add-place {
  width: 80%;
}

.todo__info {
  display: block;
  font-size: 1.8rem;
  text-align: center;
}

.todo__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 3em;
  font-size: 1.6rem;
  margin: 0.5em 0;
}

.todo__body li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #e4e1e1;
}

.todo__newinput {
  display: inline-block;
  overflow-wrap: break-word;
  width: 80%;
}

.todo__tools button {
  background-color: transparent;
  border: none;
  font-size: 1.4rem;
  padding: 0.5em;
  margin: 0 0.2em;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.popup {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 20em;
  border-radius: 8px;
  background-image: radial-gradient(circle, #59f2fc 0%, #55afb5 100%);
}

.popup h3 {
  font-size: 2.4rem;
  margin-bottom: 1em;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.popup__body input {
  padding: 0.5em 1em;
  width: 90%;
  border: none;
  background-color: white;
  border-radius: 8px;
}

.popup__info {
  font-size: 1.6rem;
  margin-bottom: 1em;
}

.popup__btn {
  display: inline-block;
  padding: 0.5em 1em;
  margin: 1em;
  width: 30%;
  border: none;
  text-transform: uppercase;
  background-color: white;
  border-radius: 8px;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */