* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: rgb(233, 233, 233);
}

.todo {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: 5em auto;
	width: 80em;
	border-radius: 8px;
	background-color: rgba(255, 255, 255, 0.808);

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		height: 20em;
		background-color: rgba(89, 242, 252, 1);
		background-image: radial-gradient(
			circle,
			rgba(89, 242, 252, 1) 0%,
			rgba(85, 175, 181, 1) 100%
		);
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;

		h1 {
			margin: 0.5em;
			font-size: 3.6rem;
			color: rgb(0, 0, 0);
		}
		input {
			padding: 0.5em 1em;
			width: 50%;
			border: none;
			background-color: rgb(255, 255, 255);
			border-radius: 8px;
		}
	}

	&__addbtn {
		padding: 0.5em 1em;
		margin-left: 0.5em;
		width: 5em;
		border: none;
		text-transform: uppercase;
		background-color: rgb(255, 255, 255);
		border-radius: 8px;
		cursor: pointer;
	}

	&__add-place {
		width: 80%;
	}

	&__info {
		display: block;
		font-size: 1.8rem;
		text-align: center;
	}

	&__body {
		display: flex;
		flex-direction: column;
		padding: 1em 3em;
		font-size: 1.6rem;
		margin: 0.5em 0;

		li {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			margin: 1em 0;
			padding: 1em;
			border: 1px solid rgb(228, 225, 225);
		}
	}

	&__newinput {
		display: inline-block;
		overflow-wrap: break-word;
		width: 80%;
	}

	&__tools {
		button {
			background-color: transparent;
			border: none;
			font-size: 1.4rem;
			padding: 0.5em;
			margin: 0 0.2em;
			cursor: pointer;
		}
	}
}

.completed {
	text-decoration: line-through;
}

// POPUP

.popup {
	display: none;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	align-items: center;
	width: 80em;
	left: 50%;
	transform: translateX(-50%);
	height: 20em;
	border-radius: 8px;
	background-image: radial-gradient(
		circle,
		rgba(89, 242, 252, 1) 0%,
		rgba(85, 175, 181, 1) 100%
	);

	h3 {
		font-size: 2.4rem;
		margin-bottom: 1em;
	}

	&__body {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;

		input {
			padding: 0.5em 1em;
			width: 90%;
			border: none;
			background-color: rgb(255, 255, 255);
			border-radius: 8px;
		}
	}

	&__info {
		font-size: 1.6rem;
		margin-bottom: 1em;
	}
	&__btn {
		display: inline-block;
		padding: 0.5em 1em;
		margin: 1em;
		width: 30%;
		border: none;
		text-transform: uppercase;
		background-color: rgb(255, 255, 255);
		border-radius: 8px;
		cursor: pointer;
	}
}
